<div class="popup-container">
    <div class="popup-content">
      <div class="buscador">
        <form action="">
            <input type="date" name="" id="">
            <select id="ordenar">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </form>
      </div>
      <div class="cont-tabla">
        <table>
            <thead>
                <tr>
                    <td>#</td>
                    <td>Descripción</td>
                    <TD>Fecha Cita</TD>
                    <td>Hora Cita</td>
                    <td>Paciente</td>
                    <td>Estado</td>
                    <td>Prioridad</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Odontología</td>
                    <td>5 de Mayo</td>
                    <td>5:00PM</td>
                    <td>Cristian Forero</td>
                    <td>Por Realizar</td>
                    <td>Alta</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Fisioterapia</td>
                    <td>10 de Abril</td>
                    <td>8:00AM</td>
                    <td>Javier Ortiz</td>
                    <td>Realizada</td>
                    <td>Media</td>
                </tr>
            </tbody>
        </table>
      </div>
      <div class="cont-acciones">
        <div class="botonesAcciones">
            <button id="eliminar">Eliminar</button>
            <button id="modificar">Modificar</button>
        </div>
      </div>
      
    </div>
  </div>
