$color-primario: #55917F;
$color-fuente: #F7FBEF;
$color-fuente2: #080708;
$color-secundario: #D17B0F;
.main{
    width: 100%;
    height: 100%;
    padding: 0px;
    background: #F7FBEF;
    display: flex;
    flex-direction: column;
    
    header{
        width: 80%;
        height: auto;
        position: absolute;
        right: 0px;
        border-bottom:2px solid $color-secundario ;
        div{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            justify-content: center;
            .cont-titulo{
                h2{
                    padding: 15px;
                    font-size: 1.5rem;
                    color: $color-fuente2;
                    font-weight: 300;
                }
            }

            .cont-buscador{
                form{
                    input{
                        width: 70%;
                        background: #fff;
                        border: none;
                        border-bottom: 2px solid $color-secundario;
                        font-weight: 300;
                        color: $color-fuente2;
                        font-size: 1rem;
                        padding: 5px;
                        margin-right: 5px;
                    }
                    button{
                        height: 100%;
                        padding: 5px;
                        background: $color-secundario;
                        color: $color-fuente;
                        border: none;
                        border-radius: 3px;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        -ms-border-radius: 3px;
                        -o-border-radius: 3px;
}
                }
            }

            .cont-user{
                display: flex;
                justify-content: space-between;
                .cont-identicacionMedico{
                    p{
                        font-size: 1rem;
                        font-weight: 400;
                        color: $color-fuente2;
                    }
                }
                .cont-accionesMedico{
                    form{
                        select{
                            width: 40%;
                        }
                    }
                }
            }
        }
    }
    .cont-navegacion{
        width: 20%;
        height: 100%;
        position: absolute;
        left: 0px;
        background:$color-primario;
        display: flex;
        flex-direction: column;
        align-items: center;
        .cont-logoEmpresa{
            height: 10%;
        }
        .cont-menu{
            width: 80%;
            height: 80%;
            display: flex;
            align-items: center;
            .cont-lista{
                width: 100%;
                height: 100%;
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 40px;
                padding-bottom: 40px;
                li{
                    width: 100%;
                    height: 10%;
                    border-top: 2px solid $color-fuente;
                    border-bottom: 2px solid $color-fuente;
                    padding: 10px;
                    margin: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        text-align: center;
                        font-weight: 400;
                        color: $color-fuente;
                        text-decoration: none;
                        font-size: 1rem;
                    }
                    :hover{
                        text-decoration: underline $color-secundario;
                    }
                }
            }
        }
        .cont-datos{
            height: 10%;
            p{
                font-weight: 300;
                font-size: 0.8rem;
                color: $color-fuente;
                text-align: center;
                padding: 5px;
            }
        }
    }

 }

